<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Objednejte se online nebo mi zavolejte</h2>
                <hr class="light">
                <a href="https://booking.reservanto.cz/Modal/?id=19484" target="_blank" rel="noopener noreferrer" class="btn btn-default btn-xl">Rezervujte si termín</a>
                <p class="text-faded"> <br>Nenašli jste termín, který Vám vyhovuje? Neváhejte se mi ozvat telefonicky na číslo <br> <a id="cta-inner-phone" href="tel:+420 732 746 265">+420 732 746 265</a>.</p>
                <hr class="light">
                <i><h3 class="section-heading">Kosmetický salon je klimatizovaný s pohodlným bezplatným parkováním přímo před budovou.</h3></i>
            </div>
        </div>
    </div>
</section>
