<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Objednejte se online nebo mi zavolejte</h2>
                <hr class="light">
                <a href="https://booking.reservanto.cz/Modal/?id=19484" target="_blank" rel="noopener noreferrer" class="btn btn-default btn-xl">Rezervujte si termín</a>
                <p class="text-faded"> <br>Nenašli jste termín, který Vám vyhovuje? Neváhejte se mi ozvat telefonicky na číslo <br>+420 732 746 265.</p>
                
            </div>
        </div>
    </div>
</section>
