<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Kosmetika na Růžové</h1>
            <hr>
            <p>Péče, krása a pohoda na jednom místě</p>

                <a href="https://booking.reservanto.cz/Modal/?id=19484" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-xl">Rezervujte is termín</a>
                <a href="tel:{{ site.phone }}" class="btn btn-primary btn-xl">Zavolejte mi</a>

            
        </div>
    </div>
</header>
