<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Naše služby</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-eye wow bounceIn text-primary"></i>
                    <h3>Řasy a obočí</h3>
                    <p class="text-muted">
                        Zabývám se barvením a úpravou obočí a trvalou pro řasy.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tint wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Pleť</h3>
                    <p class="text-muted">Poskytuji ošetření pleti včetně ruční masáže obličeje a dekoltu.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-eraser wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Epilace</h3>
                    <p class="text-muted">Provádím epilaci v oblasti obličeje, nohou, podpaží a třísel za použití tekutého vosku.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paint-brush wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Líčení</h3>
                    <p class="text-muted">Nabízím denní, večerní a svatební líčení.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Special</h3>
                    <p class="text-muted">Mezi speciální se řadí ošetření ze špičkových produktů na trhu.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-search-plus wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Nenašli jste, co hledáte?</h3>
                    <p class="text-muted">Napište mi mail nebo mi zavolejte a ráda Vám poskytnu více informací o mých nabízených službách.</p>
                </div>
            </div>
        </div>
    </div>
</section>
